header.header.js_fixed-header
	.header__container
		.header__logo
			a(href="") Ляля Шанти
		a.header__burger(href="javascript:;")
			span
			span
			span
		.header__menu.hm
			a.hm__close(href="javascript:;")
				svg
					use(xlink:href="images/sprite.svg#close")
			.hm__item.hm__item--current
				a(href="") Home
			.hm__item
				a(href="") Обо мне
			.hm__item
				a(href="") Сессии
			.hm__item
				a(href="") Мероприятия
			.hm__item
				a(href="") Онлайн
			.hm__item
				a(href="") Блог