.header{
	padding: 30px 70px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	box-sizing: border-box;

	@include media('md'){
		padding: 30px 35px;
	}

	&__container{
		max-width: 1780px;
		width: 100%;
		box-sizing: border-box;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		padding: 0 150px;

		@include media('md'){
			padding: 0;
			justify-content: space-between;
		}
	}
	&__logo{
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		font-style: normal;
		font-weight: 600;
		font-size: 25px;
		line-height: 30px;
		color: #FFFFFF;
		font-family: $titleFont;

		@include media('md'){
			position: static;
			transform: none;
		}

		a{
			text-decoration: none;
			color: #ffffff;
		}
	}

	&__burger{
		display: none;
		@include media('md'){
			display: block;
		}
		span{
			display: block;
			width: 22px;
			height: 2px;
			border-radius: 1px;
			background-color: #000;
			+span{
				margin-top: 4px;
			}
		}
	}

	&__menu{}

	&--fixed{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background-color: #ffffff;
		border-top: none;
		box-shadow: 0 1px 0 0 #dddddd;
		transition: transform 0.5s ease;
		padding-top: 15px;
		padding-bottom: 15px;


		@include media('md'){
			padding-top: 30px;
			padding-bottom: 30px;
		}

		.header__logo{
			a{
				color: #000000;
			}
		}
		.hm__item:not(.hm__item--current){
			a{
				color: #000000;
				&:hover{
					color: $pink;
				}
			}
		}
	}
}
.hm{
	display: flex;
	align-items: center;
	flex-wrap: wrap;


	@include media('md'){
		display: none;
	}

	&__item{
		margin: 15px 21px;
		a{
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 24px;
			letter-spacing: 0.04em;
			color: #FFFFFF;
			font-family: $secondFont;
			transition: color 0.3s ease;
			text-decoration: none;
			text-transform: uppercase;
			&:hover{
				color: $pink;
			}
		}
		&--current{
			a{
				color: $orange;
				&:hover{
					color: $orange;
				}
			}
		}
	}
}