.main{
	overflow: hidden;
}

.section{
	&-5,
	&-10,
	&-12,
	&-2,
	&-3,
	&-4,
	&-7,
	&-8,
	&-9,
	&-11{
		margin-top: 250px;
		@include media('xl'){
			margin-top: 200px;
		}
		@include media('md'){
			margin-top: 115px;
		}
		@include media('sm'){
			margin-top: 75px;
		}
		@include media('xs'){
			margin-top: 60px;
		}
	}


	&-2{
		.sp1__left-block{
			max-width: 412px;
		}
		.sp1__left-img{
			max-width: 560px;
			@include media('md'){
				max-width: 440px;
			}
			@include media('sm'){
				max-width: 300px;
			}
		}
	}
	&-7{
		.sp1__left-text{
			padding-bottom: 75px;
			@include media('md'){
				padding-bottom: 0;
				span{
					display: block;
				}
			}
		}
	}
}


.hero-block{
	position: relative;
	height: 100vh;
	min-height: 800px;
	max-height: 1500px;
	padding: 100px 0;

	@include media('sm'){
		min-height: 700px;
		background: rgba(0, 0, 0, 0.25);
	}
	@include media('xs'){
		min-height: 550px;
		padding: 70px 0 25px;
	}

	&__bg{
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
	}

	&__container{
		min-height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__content{
		text-align: center;
		color: #ffffff;
	}
	&__title{
		font-family: $secondFont;
		font-style: normal;
		font-weight: normal;
		font-size: 90px;
		line-height: 130%;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: $pink;
		@include media('sm'){
			font-size: 70px;
		}
		@include media('xs'){
			font-size: 65px;
		}
	}
	&__subtitle{
		font-weight: 600;
		font-size: 40px;
		line-height: 130%;
		font-family: $titleFont;
		@include media('md'){
			font-size: 37px;
		}
		@include media('sm'){
			font-size: 32px;
		}
		@include media('xs'){
			font-size: 25px;
		}
	}
	&__text{
		margin-top: 55px;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		line-height: 52px;
		text-align: center;
		span{
			font-weight: 600;
			font-size: 40px;
		}
		@include media('sm'){
			font-size: 21px;
			line-height: 35px;
			margin-top: 45px;
			span{
				font-size: 28px;
			}
		}
		@include media('xs'){
			font-size: 17px;
			line-height: 28px;
			margin-top: 25px;
		}
	}
	&__btn{
		margin-top: 81px;
		@include media('sm'){
			margin-top: 55px;
		}
		@include media('xs'){
			margin-top: 45px;
		}
	}
}


.problem{
	&__container{}
	&__section{}
}
.sp1{
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include media('xs'){
		flex-direction: column;
	}
	&__left{
		width: 50%;
		@include media('xs'){
			width: 100%;
			padding-bottom: 60px;
		}
		&-block{
			position: relative;
		}
		&-img{
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
		&-text{
			font-family: $secondFont;
			font-style: normal;
			font-weight: normal;
			font-size: 45px;
			line-height: 130%;
			text-align: center;
			letter-spacing: 0.06em;
			text-transform: uppercase;
			@include media('sm'){
				font-size: 35px;
			}
			span{
				color: $pink;
			}
		}
	}
	&__right{
		width: 50%;
		@include media('xs'){
			width: 100%;
		}
		&-img{
			width: 100%;
		}
	}
}
.sp2{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 250px;
	@include media('xl'){
		margin-top: 200px;
	}
	@include media('md'){
		margin-top: 100px;
	}
	@include media('xs'){
		margin-top: 60px;
	}
	&__left{
		width: 50%;
		padding-right: 30px;
		@include media('xs'){
			display: none;
		}
		&-img{
			max-width: 100%;
		}
	}
	&__right{
		width: 50%;
		@include media('xs'){
			width: 100%;
		}
		&-block{
			max-width: 480px;
			@include media('xs'){
				max-width: 100%;
			}
		}
		&-img{
			width: 100%;
		}
		&-text{
			font-family: $secondFont;
			font-style: normal;
			font-weight: normal;
			font-size: 45px;
			line-height: 130%;
			letter-spacing: 0.06em;
			text-transform: uppercase;
			margin-bottom: 195px;
			@include media('md'){
				margin-bottom: 105px;
			}
			@include media('sm'){
				margin-bottom: 40px;
				font-size: 35px;
			}
			@include media('xs'){
				text-align: center;
				margin-bottom: 60px;
			}
			span{
				color: $pink;
			}
		}
	}
}
.sp3{
	margin-top: 278px;
	@include media('xl'){
		margin-top: 200px;
	}
	@include media('md'){
		margin-top: 100px;
	}
	@include media('xs'){
		margin-top: 60px;
	}
	&__block{
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		width: 959px;
		max-width: 100%;
		margin: 0 auto;
	}
	&__heart{
		position: absolute;
		top: -82px;
		right: -179px;
		width: 380px;
		display: block;
		z-index: 1;
		@include media('md'){
			top: 88px;
			right: -29px;
			width: 210px;
		}
		@include media('sm'){
			width: 150px;
			top: 70px;
		}
		@include media('xs'){
			display: none;
		}
	}
	&__text{
		font-family: $secondFont;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		line-height: 130%;
		text-align: center;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		margin-bottom: 96px;
		@include media('md'){
			margin-bottom: 50px;
		}
		@include media('xs'){
			font-size: 35px;
			margin-bottom: 60px;
		}
		span{
			color: $pink;
		}
	}
	&__img{
		width: 100%;
	}
}



.dual{
	display: flex;
	min-height: 708px;
	box-sizing: border-box;
	width: 100%;
	position: relative;
	background: $orange;
	@include media('md'){
		min-height: 500px;
	}
	@include media('sm'){
		min-height: 350px;
	}
	@include media('xs'){
		min-height: 250px;
	}
	&__left{
		width: 50%;
		@include media('xs'){
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
		}
	}
	&__right{
		width: 50%;
		box-sizing: border-box;
		padding: 60px 60px 60px 156px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		@include media('xl'){
			padding: 45px 45px 45px 70px;
		}
		@include media('md'){
			padding: 30px 40px 30px 50px;
		}
		@include media('sm'){
			padding: 30px 15px 30px 30px;
		}
		@include media('xs'){
			padding: 50px 15px;
			position: relative;
			z-index: 2;
			width: 100%;
			background: rgba(0,0,0,0.5);
		}
	}
	&__img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__text{
		max-width: 640px;
		font-family: $titleFont;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		line-height: 130%;
		color: #FFFFFF;
		@include media('xl'){
			font-size: 32px;
		}
		@include media('md'){
			font-size: 26px;
		}
		@include media('sm'){
			font-size: 21px;
			text-align: center;
		}
	}

	&--invert{
		flex-direction: row-reverse;
		.dual__right{
			padding: 60px 130px 60px 60px;
			justify-content: flex-end;
			@include media('xl'){
				padding: 45px 70px 45px 45px;
			}
			@include media('md'){
				padding: 30px 50px 30px 40px;
			}
			@include media('sm'){
				padding: 30px 30px 30px 15px;
			}
		}
	}
}


.list{
	&__container{}
	&__title{
		font-family: $secondFont;
		font-style: normal;
		font-weight: normal;
		font-size: 55px;
		line-height: 130%;
		text-align: center;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		@include media('sm'){
			font-size: 45px;
		}
		@include media('sm'){
			font-size: 35px;
		}
	}
	&__flex{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 161px;
		@include media('xl'){
			margin-top: 100px;
		}
		@include media('md'){
			margin-top: 50px;
		}
	}
	&__item{
		margin-bottom: 53px;
		width: calc(50% - 30px);
		position: relative;
		padding-left: 77px;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		line-height: 29px;
		min-height: 87px;

		@include media('md'){
			margin-bottom: 35px;
			padding-left: 57px;
			font-size: 19px;
			line-height: 26px;
			min-height: 78px;
		}
		@include media('sm'){
			margin-bottom: 25px;
			min-height: 52px;
			width: 100%;
		}
		@include media('sm'){
			font-size: 17px;
			line-height: 23px;
			min-height: 46px;
			padding-left: 40px;
		}

		&::before{
			content: "";
			display: block;
			width: 38px;
			height: 28px;
			background: url("../images/check.svg") center center no-repeat;
			background-size: contain;
			background-position: left top;
			position: absolute;
			left: 0;
			top: 7px;
			@include media('sm'){
				width: 27px;
				height: 20px;
				top: 2px;
			}
		}

		&-text{
			max-width: 480px;
			@include media('sm'){
				max-width: 100%;
			}
		}
	}

	&__banner{
		width: 100%;
		min-height: 209px;
		padding: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #F7F7F7;
		margin-top: 40px;
		@include media('sm'){
			margin-top: 25px;
		}
		&-text{
			font-family: $secondFont;
			font-style: normal;
			font-weight: normal;
			font-size: 46px;
			line-height: 130%;
			text-align: center;
			letter-spacing: 0.06em;
			text-transform: uppercase;
			color: $orange;
			@include media('sm'){
				font-size: 35px;
			}
			span{
				color: $pink;
			}
		}
	}
}

.fullimage{
	position: relative;
	width: 100%;
	min-height: 888px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px 0;
	@include media('xl'){
		min-height: 700px;
	}
	@include media('md'){
		min-height: 550px;
	}
	@include media('sm'){
		min-height: 400px;
		background: rgba(0, 0, 0, 0.45);
	}
	&__bg{
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
	}
	&__container{}
	&__text{
		max-width: 940px;
		margin: 0 auto;
		text-align: center;
		font-family: $secondFont;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		line-height: 130%;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: #FFFFFF;
		@include media('sm'){
			font-size: 35px;
		}
		@include media('sm'){
			font-size: 28px;
		}
		span{
			color: $orange;
		}
	}
}


.quotes{
	background: $pink;
	padding: 262px 40px;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	@include media('xl'){
		padding: 150px 40px;
	}
	@include media('md'){
		padding: 100px 40px;
	}
	@include media('sm'){
		padding: 50px 40px;
	}
	@include media('xs'){
		padding: 50px 10px;
	}
	&__shape{
		width: 96px;
		height: 96px;
		display: block;
		object-fit: contain;
		margin: 0 auto;
		@include media('md') {
			width: 75px;
			height: 75px;
		}
		@include media('xs'){
			width: 50px;
			height: 50px;
		}
	}
	&__slider{
		position: relative;
	}
}
.swiper{
	&-container {
		margin-top: 74px;
		width: 760px;
		max-width: 100%;
		@include media('md') {
			margin-top: 50px;
			width: 500px;
		}
		@include media('xs'){
			margin-top: 35px;
		}
	}
	&-button{
		position: absolute;
		top: 60px;
		color: #ffffff;
		width: 50px;
		transition: color 0.3s ease;
		height: 44px;
		@include media('md'){
			width: 40px;
			top: 100px;
		}
		@include media('sm'){
			display: none;
		}
		&::after{
			display: none;
		}
		&-prev{
			left: 0;
			transform: scaleX(-1);
			@include media('md'){
				left: -35px;
			}
		}
		&-next{
			right: 0;
			@include media('md'){
				right: -35px;
			}
		}
		@include media('sm',false) {
			&:hover {
				color: $orange;
			}
		}
	}
	&-pagination{
		position: static;
		margin-top: 49px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		&-bullet{
			width: 10px;
			height: 10px;
			background: #FFFFFF;
			border-radius: 10px;
			opacity: 1;
			margin: 0 10px !important;
			display: block;
			transition: background-color 0.3s ease;
			&-active{
				background-color: $orange;
			}
		}
	}
}
.qs{
	&__text{
		font-style: normal;
		font-weight: normal;
		font-size: 19px;
		line-height: 130%;
		text-align: center;
		@include media('xs'){
			font-size: 16px;
		}
	}
	&__info{
		font-family: $secondFont;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		line-height: 130%;
		text-align: center;
		letter-spacing: 0.06em;
		margin-top: 50px;
		@include media('xs'){
			font-size: 25px;
			margin-top: 35px;
		}
		span{
			color: $orange;
		}
	}
}

.author{
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
	min-height: 665px;
	&__flex{
		display: flex;
		@include media('md'){
			flex-direction: column-reverse;
		}
	}
	&__left{
		width: calc(50% + 30px);
		box-sizing: border-box;
		padding: 0 20px;
		@include media('md'){
			width: 100%;
		}
	}
	&__right{
		width: calc(50% - 30px);
		@include media('md'){
			width: 100%;
			padding: 0 20px;
			margin-bottom: 35px;
		}
		.image-block{
			width: 100%;
			height: 100%;
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__inner{
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 630px;
		width: 100%;
		margin: 0 auto;
	}
	&__name{
		font-family: $secondFont;
		font-style: normal;
		font-weight: normal;
		font-size: 32px;
		line-height: 72px;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		text-align: center;
		@include media('xs'){
			font-size: 28px;
			line-height: 50px;
		}
		span{
			color: $orange;
			font-size: 55px;
			@include media('xs'){
				font-size: 45px;
				display: block;
			}
		}
	}
	&__info{
		margin-top: 27px;
		max-width: 470px;
		text-align: center;
		font-style: normal;
		font-weight: 500;
		font-size: 19px;
		line-height: 130%;
		text-transform: uppercase;
	}
	&__quote{
		margin-top: 68px;
		padding: 65px 64px 59px 140px;
		border: 1px solid $pink;
		box-sizing: border-box;
		border-radius: 10px;
		position: relative;
		width: 100%;
		@include media('xs'){
			margin-top: 40px;
			padding: 30px 15px 15px 15px;
		}

		&::before{
			content: "";
			display: block;
			width: 67px;
			height: 67px;
			background: url("../images/q.png") center center no-repeat;
			background-size: contain;
			position: absolute;
			top: 31px;
			left: 26px;
			@include media('xs'){
				top: -20px;
				left: 5px;
				width: 47px;
				height: 47px;
			}
		}
		&-text{
			font-family: $titleFont;
			font-style: normal;
			font-weight: normal;
			font-size: 19px;
			line-height: 130%;
			@include media('xs'){
				font-size: 16px;
			}
		}
	}
}


.registration{
	width: 100%;
	position: relative;
	padding: 250px 0 305px;
	color: #ffffff;
	@include media('xl'){
		padding: 150px 0 200px;
	}
	@include media('md'){
		padding: 100px 0 150px;
	}
	@include media('sm'){
		padding: 75px 0 100px;
		background: rgba(0, 0, 0, 0.45);
	}
	@include media('xs'){
		padding: 60px 0 60px;
	}
	&__bg{
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
	}
	&__container{}

	&__title{
		font-family: $secondFont;
		font-style: normal;
		font-weight: normal;
		font-size: 90px;
		line-height: 130%;
		text-align: center;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: $orange;
		@include media('sm'){
			font-size: 70px;
		}
		@include media('xs'){
			font-size: 65px;
		}
	}
	&__subtitle{
		font-family: $titleFont;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		line-height: 130%;
		text-align: center;
		@include media('md'){
			font-size: 37px;
		}
		@include media('sm'){
			font-size: 32px;
		}
		@include media('xs'){
			font-size: 25px;
		}
	}
	&__form{
		margin-top: 128px;
		@include media('md'){
			margin-top: 75px;
		}
		@include media('xs'){
			margin-top: 50px;
		}
	}
}

.rform{
	&__label{
		font-family: $secondFont;
		font-style: normal;
		font-weight: normal;
		font-size: 70px;
		line-height: 130%;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		margin-bottom: 75px;
		text-align: center;
		@include media('md'){
			margin-bottom: 55px;
			font-size: 60px;
		}
		@include media('sm'){
			font-size: 50px;
		}
		@include media('xs'){
			font-size: 32px;
		}
	}
	&__block{
		width: 460px;
		max-width: 100%;
		margin: 0 auto;
		+.rform__block{
			margin-top: 43px;
		}

		&--flex{
			display: flex;
			justify-content: space-between;
			align-items: center;
			@include media('xs'){
				display: block;
			}
		}
	}
	&__title{
		font-family: $secondFont;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		line-height: 130%;
		letter-spacing: 0.04em;
		color: #FFFFFF;
		@include media('xs'){
			text-align: center;
		}
	}
	&__socials{
		display: flex;
		justify-content: space-between;
		width: 260px;
		max-width: 100%;
		@include media('xs'){
			margin: 15px auto;
		}
	}
	&__social{
		width: 60px;
		height: 58px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		color: #ffffff;
		transition: color 0.3s ease;
		svg{
			width: 80%;
			height: 80%;
			object-fit: contain;
		}
	}

	&__form{
		margin-top: 44px;
		width: 100%;
		@include media('xs'){
			margin-top: 25px;
		}
	}
	&__input{
		display: block;
		width: 100%;
		margin-bottom: 29px;
		@include media('xs'){
			margin-bottom: 20px;
		}
		input{
			width: 100%;
			font-family: $mainFont;
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 130%;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #FFFFFF;
			text-indent: 30px;
			border: 1px solid #FFFFFF;
			box-sizing: border-box;
			border-radius: 5px;
			height: 63px;
			background: transparent;

			@include media('xs'){
				text-indent: 20px;
				font-size: 17px;
				height: 50px;
			}
			&::placeholder{
				font-family: $mainFont;
				color: #FFFFFF;
			}
			&:focus{
				outline: none;
			}
			&.invalid{
				border-color: $pink;
			}
		}
	}
	&__agree{
		display: flex;
		align-items: flex-start;
		&-checkbox{
			cursor: pointer;
			flex-shrink: 0;
			input{
				position: absolute;
				width: 20px;
				height: 20px;
				margin: 0;
				box-sizing: border-box;
				opacity: 0;
				&:checked{
					+span{
						background: url("../images/agree.svg") center center no-repeat;
						background-size: contain;
					}
				}
			}
			span{
				width: 20px;
				height: 20px;
				border: 1px solid #FFFFFF;
				box-sizing: border-box;
				display: block;
				position: relative;
			}
		}
		&-text{
			max-width: 215px;
			margin-left: 15px;
			font-style: normal;
			font-weight: 500;
			font-size: 15px;
			line-height: 130%;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #FFFFFF;
			a{
				color: #ffffff;
				transition: color 0.3s ease;
				text-decoration: none;
				position: relative;
				display: inline-block;
				&::before{
					content: "";
					display: block;
					width: 100%;
					height: 1px;
					position: absolute;
					left: 0;
					bottom: 0;
					background: #ffffff;
				}
				@include media('sm',false) {
					&:hover {
						color: $pink;

						&::before {
							display: none;
						}
					}
				}
			}
		}
	}
	&__btn{
		width: 100%;
		margin-top: 57px;
		@include media('xs'){
			margin-top: 40px;
		}
	}
}
