html {
	font-size: $fs-main;
}
body {
	font-family: $mainFont;
	color: $textMainColor;
}

a{
	color: $linkMainColor;
	text-decoration: underline;
	&:hover{
		color: $linkHoverColor;
		text-decoration: none;
	}
}

.container{
	width: 1360px;
	max-width: 100%;
	padding: 0 20px;
	margin: 0 auto;
	box-sizing: border-box;
}

.btn{
	padding: 16px;
	min-width: 200px;
	min-height: 55px;
	border-radius: 5px;
	box-sizing: border-box;
	border: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	font-family: $titleFont;
	text-align: center;
	letter-spacing: 0.065em;
	text-transform: uppercase;
	color: #FFFFFF;
	background: $pink;
	text-decoration: none;
	transition: background-color 0.3s ease;
	cursor: pointer;
	&:hover{
		color: #ffffff;
		background: $orange;
	}
}


[data-aos=image-mask-animation] {
	transition-property: transform;
	transform: translate3d(-100%,0,0);
	&.aos-animate {
		transform: translateZ(0);
	}
}


.image-block{
	position: relative;
	overflow: hidden;
}
.img-mask{
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 100%;
	width: 120%;
	&__inside{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transform: skewX(-10deg);
		transform-origin: bottom;
		background-color: #fff;
	}
}