extends ../layouts/default

block vars
	-
		const page = {
			title: 'Близость | Искусство Трансформационного Общения'
		};

block main
	section.hero-block.section-1
		img.hero-block__bg(src="images/hero-bg.jpg" alt="" loading="lazy")
		.hero-block__container.container
			.hero-block__content
				h1.hero-block__title Близость
				h2.hero-block__subtitle Искусство Трансформационного Общения
				.hero-block__text 3-дневный марафон, который научит тебя выстраивать близость в отношениях <br><span>16,</span> <span>17</span> и <span>18</span> июня в <span>19:30</span>
				a.hero-block__btn.btn(href="#registration") Я хочу!


	section.problem.section-2
		.problem__container.container
			.problem__section.problem__section--1.sp1
				.sp1__left
					.sp1__left-block(data-aos="fade")
						img.sp1__left-img(src="images/shape-1.png" alt="" loading="lazy")
						.sp1__left-text Нас не учили искренне и эффективно общаться
				.sp1__right
					.image-block
						.img-mask(data-aos="image-mask-animation")
							.img-mask__inside
						img.sp1__right-img(src="images/img-1.jpg" alt="" loading="lazy")
			.problem__section.problem__section--2.sp2
				.sp2__left
					.image-block
						.img-mask(data-aos="image-mask-animation")
							.img-mask__inside
						img.sp2__left-img(src="images/img-2.jpg" alt="" loading="lazy")
				.sp2__right
					.sp2__right-block
						.sp2__right-text(data-aos="fade") Мы не умеем выстраивать истинную близость
						.image-block
							.img-mask(data-aos="image-mask-animation")
								.img-mask__inside
							img.sp2__right-img(src="images/img-3.jpg" alt="" loading="lazy")
			.problem__section.problem__section--3.sp3
				.sp3__block
					img.sp3__heart(src="images/heart-broken.svg" alt="" data-aos="fade-down" data-aos-delay="500")
					.sp3__text(data-aos="fade") И так сильно о ней мечтаем!
					.image-block
						.img-mask(data-aos="image-mask-animation")
							.img-mask__inside
						img.sp3__img(src="images/img-4.jpg" alt="" loading="lazy")


	section.dual.section-3(data-aos="fade")
		.dual__left
			img.dual__img(src="images/img-5.jpg" alt="" loading="lazy")
		.dual__right
			.dual__text Близость с другими  — это то, что делает нас по-настоящему живыми, счастливыми, и человечными


	section.list.section-4
		.list__container.container
			.list__title Узнаете себя?
			.list__flex
				.list__item(data-aos="fade")
					.list__item-text Не умею общаться. Мне кажется, я скучная и неинтересная
				.list__item(data-aos="fade")
					.list__item-text Пытаюсь объяснить папе свою позицию, он только отмахивается от меня. Никак не могу достучаться
				.list__item(data-aos="fade")
					.list__item-text  У нас очень много проблем в отношениях с мужем, но он отказывается их обсуждать
				.list__item(data-aos="fade")
					.list__item-text  Пытаемся разговаривать, но скатываемся во взаимные претензии и обвинения
				.list__item(data-aos="fade")
					.list__item-text  Очень сложно общаться с дочерью-подростком, она в полном отрицании всего, что я говорю
				.list__item(data-aos="fade")
					.list__item-text  Раньше была близость в отношениях, но сейчас он отдалился и я не понимаю, что происходит
				.list__item(data-aos="fade")
					.list__item-text  Вроде бы общаемся хорошо и близко, но я все равно ощущаю порой одиночество. Как будто никто меня по-настоящему не видит
				.list__item(data-aos="fade")
					.list__item-text  Подруга вроде бы поддерживает меня и относится по-доброму, но после нашего общения остается странный неприятный осадок, не понимаю почему
				.list__item(data-aos="fade")
					.list__item-text  Мой босс - тиран. Разговаривать с ним бесполезно, он никого не слушает, существует только его мнение
				.list__item(data-aos="fade")
					.list__item-text  Мама говорит, что делает все ради меня и моего будущего. Но меня это только раздражает! Она обижается, что я не могу нормально с ней общаться

	section.fullimage.section-5(data-aos="fade")
		img.fullimage__bg(src="images/img-6.jpg" alt="" loading="lazy")
		.fullimage__container.container
			.fullimage__text Существует особая система общения, используя которую вы сможете восстановить потерянную близость и научитесь легко и быстро создавать ее в&nbsp;новых отношениях. <br> <span>И я покажу ее вам. </span>


	section.quotes.section-6
		.quotes__container.container
			img.quotes__shape(src="images/q.png" alt="" data-aos="fade" loading="lazy")
			.quotes__slider(data-aos="fade")
				.swiper-container
					.swiper-wrapper
						.swiper-slide.qs
							.qs__text Впервые в жизнь решилась поговорить так с мужчиной. Было страшно решиться. Мы говорили по телефону и все равно это было потрясающе эмоционально и близко. Он “обнял” меня, полностью принял, открылся в ответ. Говорили об общих страхах, желаниях, мечтах. Я почувствовала облегчение. Счастье, принятие. Страх очень быстро ушел, хотелось идти глубже, соединиться с ним. Чужой человек стал близок. Счастье, радость, легкость.
							.qs__info  <span>Светлана</span>,<br> участница курса “Контакт”
						.swiper-slide.qs
							.qs__text Впервые в жизнь решилась поговорить так с мужчиной. Впервые в жизнь решилась поговорить так с мужчиной. Впервые в жизнь решилась поговорить так с мужчиной. Было страшно решиться. Мы говорили по телефону и все равно это было потрясающе эмоционально и близко. Он “обнял” меня, полностью принял, открылся в ответ. Говорили об общих страхах, желаниях, мечтах. Я почувствовала облегчение. Счастье, принятие. Страх очень быстро ушел, хотелось идти глубже, соединиться с ним. Чужой человек стал близок. Счастье, радость, легкость.
							.qs__info  <span>Николай</span>,<br> участница курса “Контакт”
						.swiper-slide.qs
							.qs__text Впервые в жизнь решилась поговорить так с мужчиной. Было страшно решиться. Мы говорили по телефону и все равно это было потрясающе эмоционально и близко. Он “обнял” меня, полностью принял, открылся в ответ. Говорили об общих страхах, желаниях, мечтах. Я почувствовала облегчение. Счастье, принятие. Страх очень быстро ушел, хотелось идти глубже, соединиться с ним. Чужой человек стал близок. Счастье, радость, легкость.
							.qs__info  <span>Вадим</span>,<br> участница курса “Контакт”
					.swiper-pagination
				.swiper-button.swiper-button-prev
					svg
						use(xlink:href="images/sprite.svg#arrow")
				.swiper-button.swiper-button-next
					svg
						use(xlink:href="images/sprite.svg#arrow")


	section.problem.section-7
		.problem__container.container
			.problem__section-1.sp1
				.sp1__left
					.sp1__left-block(data-aos="fade")
						img.sp1__left-img(src="images/shape-2.png" alt="" loading="lazy")
						.sp1__left-text Ясность.<span>Глубина.</span>Близость
				.sp1__right
					.image-block
						.img-mask(data-aos="image-mask-animation")
							.img-mask__inside
						img.sp1__right-img(src="images/img-7.jpg" alt="" loading="lazy")


	section.dual.dual--invert.section-8(data-aos="fade")
		.dual__left
			img.dual__img(src="images/img-8.jpg" alt="" loading="lazy")
		.dual__right
			.dual__text Этот марафон о том, как общаться с другими людьми для того, чтобы выстраивать настоящие отношения. Искренне, качественно и аутентично.


	section.list.section-9
		.list__container.container
			.list__title(data-aos="fade") Программа марафона
			.list__flex
				.list__item(data-aos="fade")
					.list__item-text  Не умею общаться. Мне кажется, я скучная и неинтересная”
				.list__item(data-aos="fade")
					.list__item-text  С кем получится создать близость, а от кого лучше бежать? Красные флаги в отношениях
				.list__item(data-aos="fade")
					.list__item-text  5 главных принципов создания глубокой и искренней близости
				.list__item(data-aos="fade")
					.list__item-text  Простые способы легко создать доверие с новыми людьми
				.list__item(data-aos="fade")
					.list__item-text  Стоп-фразы, которые говорят о манипуляциях
				.list__item(data-aos="fade")
					.list__item-text  Практика и разборы ваших ситуаций
			.list__banner(data-aos="fade")
				.list__banner-text <span>Суперсила:</span> Создание влюбленности за 5 минут разговора


	section.fullimage.section-10(data-aos="fade")
		img.fullimage__bg(src="images/img-9.jpg" alt="" loading="lazy")
		.fullimage__container.container
			.fullimage__text Вы удивитесь, насколько близко удовлетворение, глубина, близость и искреннее, наполняющее общение. Они буквально в паре фраз от вас. В паре <br><span>работающих фраз.</span>


	section.author.section-11
		.author__flex
			.author__left(data-aos="fade")
				.author__inner
					.author__name Автор марафона: <span>Ляля Шанти</span>
					.author__info Коуч в сфере любви, сексуальности и осознанных отношений
					.author__quote
						.author__quote-text Более 15 лет я работаю с женщинами, сопровождая их на пути восстановления контакта с собой и своей сутью, обретения целостности, ценности себя, наслаждения и вдохновения от жизни. По моему опыту, аунтентичное общение — одна из самых эффективных, действенных практик. Ее результат мгновенный, а потенциал действительно потрясающих трансформаций просто бесконечен.  Я искренне верю, что эти знания нужно преподавать в начальной школе, и что если бы больше людей начали применять их на практике, мир изменился бы до неузнаваемости.
			.author__right
				.image-block
					.img-mask(data-aos="image-mask-animation")
						.img-mask__inside
					img(src="images/img-10.jpg" alt="")

	section.registration.section-12#registration
		img.registration__bg(src="images/img-11.jpg" alt="" loading="lazy")
		.registration__container.container
			.registration__title(data-aos="fade") Близость
			.registration__subtitle(data-aos="fade" data-aos-delay="100") Искусство Трансформационного Общения
			.registration__form.rform(data-aos="fade" data-aos-delay="200")
				.rform__label Зарегистрироваться на марафон
				.rform__block.rform__block--flex
					.rform__title Через соц. сети
					.rform__socials
						a.rform__social(href="")
							svg
								use(xlink:href="images/sprite.svg#facebook")
						a.rform__social(href="")
							svg
								use(xlink:href="images/sprite.svg#telegram")
						a.rform__social(href="")
							svg
								use(xlink:href="images/sprite.svg#vk")
				.rform__block
					.rform__title Через почту
					form.rform__form(method="post")
						label.rform__input
							input(type="text" name="" placeholder="Имя" required)
						label.rform__input
							input(type="email" name="" placeholder="E-mail" required)
						label.rform__input
							input(type="tel" name="" placeholder="Телефон" required)
						.rform__agree
							label.rform__agree-checkbox
								input(type="checkbox" name="agree" required)
								span
							.rform__agree-text Даю согласие на обработку <a href="" target="_blank">персональных данных</a>
						button.rform__btn.btn(type="submit") Хочу участвовать!



