doctype html

block vars
include ../components/_mixins

html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description" content="")
		meta(name="keywords" content="")
		title= `${page.title}`
		link(rel='apple-touch-icon' sizes='180x180' href='favicon/apple-touch-icon.png')
		link(rel='icon' type='image/png' sizes='32x32' href='favicon/favicon-32x32.png')
		link(rel='icon' type='image/png' sizes='16x16' href='favicon/favicon-16x16.png')
		link(rel='manifest' href='favicon/site.webmanifest')
		link(rel='mask-icon' href='favicon/safari-pinned-tab.svg' color='#e13d78')
		link(rel='shortcut icon' href='favicon/favicon.ico')
		meta(name='msapplication-TileColor' content='#da532c')
		meta(name='msapplication-config' content='favicon/browserconfig.xml')
		meta(name='theme-color' content='#ffffff')

		link(href="css/main.min.css" rel="stylesheet")


		style.
			.preloader{
				width: 100%;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				position: fixed;
				display: flex;
				align-items: center;
				justify-content: center;
				background: #ffffff;
				z-index: 200;
				user-select: none;
			}
			.preloader svg text {
				font-family: Bebas Neue Cyrillic;
				stroke: #E13D78;
				font-size: 72px;
				stroke-width: 2;
				letter-spacing: 0.04em;
				animation: textAnimate 5s 1 alternate;
				fill: #E13D78;
			}

			@keyframes textAnimate {
				0% {
					stroke-dasharray: 0 50%;
					stroke-dashoffset: 5px;
					fill: #E9AA47
				}

				100% {
					stroke-dasharray: 50% 0;
					stroke-dashoffstet: -5px;
					fill: #E13D78
				}

			}

		script.
			timerStart = new Date();
	body
		.preloader#preloader
			svg(width='100%' height='100%')
				defs
					style.
						@font-face {
							font-family: 'Bebas Neue Cyrillic';
							src: local('Bebas Neue Cyrillic Bold'), local('BebasNeueCyrillic-Bold'),
							url('../fonts/BebasNeueBold.woff2') format('woff2'),
							url('../fonts/BebasNeueBold.woff') format('woff');
							font-weight: normal;
							font-style: normal;
							font-display: swap;
						}

				text(x='50%' y='50%' text-anchor='middle')
					| Близость



		block header
			include ../partials/_header

		main.main
			block main

		block footer
			include ../partials/_footer

		block modals


		script(src="js/main.min.js")

		block scripts
